.header {
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  position: static;
  background-color: WHITE;
  color: BLACK;
  z-index: 100;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__logo {
  height: 30px;
  margin: 5px;
}

.header__right {
  display: flex;
  padding: 5px;
  justify-content: space-evenly;
  width: auto;
}
.header__links {
  margin-right: 20px;
  text-decoration: none;
}
.nav__links {
  text-decoration: none;
  margin-right: 10vw;
  margin-left: 20px;
  color: BLACK;
  font-family: Arial, Helvetica, sans-serif;
}
.header__home {
  text-decoration: none;
  color: BLACK;
}
